<div class="background">

  <div class="h1-cont">

    <h1>TOP
      <span>


        100
      </span>

      PLAYERS OF THE SEASON
      <span>


        2023
      </span>

    </h1>
  </div>

  <div *ngIf="myData">
    <ul *ngFor="let player of myData.results" >
        <li>
          ID: {{ player.id }}
        </li>
        <li>
          NAME: {{ player.player_name }}
        </li>
        <li>
      AGE: {{ player.age }}
    </li>
    <li>
      GAMES:
      <span>

        {{ player.games }}
      </span>


    </li>
    <li>
      MINUTES PLAYED: <span>

        {{ player.minutes_played }}
      </span>
      MIN
    </li>
    <li>
      TEAM: {{ player.team }} MIN
    </li>

  </ul>
</div>

</div>
