.top{
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 8rem;
}
.logo{
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container{
  min-width: 15rem;
  max-width: 15rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}




nav a{
  font-size: 1.5rem;

}
