<div class="top">
  <div class="logo" routerLink="/">
    <app-logo></app-logo>
  </div>
  <nav *ngIf="isClicked">
    <div class="container">


      <a routerLink="player"><span class="material-symbols-outlined">
        trophy
        </span></a>
      <a routerLink="most-played"><span class="material-symbols-outlined">
        hourglass_empty
        </span></a>
      <a routerLink="most-field-goals"><span class="material-symbols-outlined">
        sports_basketball
        </span> </a>
      <a routerLink="most-two-field-goals">2<span class="material-symbols-outlined">
        sports_basketball
        </span></a>
      <a routerLink="most-three-field-goals">3<span class="material-symbols-outlined">
        sports_basketball
        </span></a>
    </div>
  </nav>
  <span (click)="isClickedMenu()" class="material-symbols-outlined">menu</span>
</div>
