.top{
  background-color: #020202;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 8rem;
  border-bottom: 1px solid #202020;
}
.logo{
  min-width: 7rem;
  max-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-container{
  min-width: 15rem;
  max-width: 15rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



nav a{
  font-size: 1.5rem;
  margin: 1rem 1rem;
  background-color: #090909;
  padding: 1.4rem;
  border: 3px solid #fff;

}
span{
  cursor: pointer;
}

.container{
  display: flex;
  // height: 20rem;
  // width: 100%;

}


@media (min-width: 300px) and (max-width: 1500px) {
  nav a{
    font-size: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 1rem;
    min-width: 2rem;
    max-width: 2rem;
    text-align: center;
  }



}
